/* MapMA.css */
.App {
  background-color: none;
  position: relative;
  width: 100vw;
  height: 120vh;
  overflow: hidden;
  display: flex;
}

.mapma-container {
  position: relative;
  z-index: 1;
}

/* Header Styles */
.header-background {
  width: 448px;
  height: 193px;
  left: 785px;
  top: 342px;
  position: absolute;
  background: #2E62FF;
  border: 1px #2E62FF solid;
}

.header-title {
  width: 389px;
  height: 84px;
  left: 808px;
  top: 354px;
  position: absolute;
  text-align: center;
  color: #EDF6FF;
  font-size: 80px;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-weight: 400;
  word-wrap: break-word;
  margin: 0;
}

.header-description {
  width: 397px;
  height: 67px;
  left: 804px;
  top: 461px;
  position: absolute;
  text-align: center;
  color: #EDF6FF;
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  word-wrap: break-word;
  margin: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* For each layout page! */
.layout-page {
  margin-top: 3vh;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
}

/* Row Carousel */
.rowViewport {
  /* overflow: hidden; */
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
}

.rowTrack {
  width: max-content;
  display: flex;
  align-items: center;
  /* will-change: transform; */
}

@keyframes scroll {
  from { transform: translateX(0%); }
  to { transform: translateX(-100%); }
}